@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

body {
  background-color: black;
  // background-image: url('https://i.pinimg.com/originals/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif');
  background-image: url('https://i.ytimg.com/vi/NtOwzU5Rpp8/maxresdefault.jpg');
  // background-size: 100%;
  // background-repeat: no-repeat;
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.outer-circle {
  width: 40vw;
  height: 40vw;
  // background-image: radial-gradient(farthest-side at 60% 55%, rgb(12, 34, 54), rgb(99, 234, 4));
  display: flex;
  justify-content: space-between;
  align-items: start;
  animation: spin 10s linear infinite;
}

.link-circle {
  width: 7vw;
  height: 7vw;
  // background-image: radial-gradient(farthest-side at 60% 55%, rgb(233, 162, 174), rgb(234, 4, 177));
  position: relative;
  animation: spin 10s linear infinite reverse;
  text-align: center;
  box-shadow: 0 0 15px white;
  position: relative;
  background-size: 5vw;
  background-repeat: no-repeat;
  background-position: center;
}


.inner-circle {
  width: 25vw;
  height: 25vw;
  // background-color: rgb(27, 178, 128);
  // position: absolute;
  // z-index: 1;
}

.inner-circle-component {
  width: 100%;
  height: 100%;
  // z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default {
  background-color: red;
}

.about {
  background: radial-gradient(#eeaeca, #94bbe9);
  animation: fadeIn .5s;
}

.work {
  background-color: blue;
  animation: fadeIn .5s;
}

.contact {
  background-color: pink;
  animation: fadeIn .5s;
}

.background-circle {
  background-color: white;
  opacity: 0.5;
}

// .about-circle {
//   // background-color: radial-gradient(#eeaeca, #94bbe9);
//   background: url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png') center no-repeat, radial-gradient(#eeaeca, #94bbe9);
//   background-size: 5vw;
// }

.about-circle {
  background-image: url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png'), radial-gradient(#eeaeca, #94bbe9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5vw, cover; /* Specify the size for both the image and the gradient */
  background-blend-mode: normal, normal; /* Adjust blend mode as needed */
}


// .about-circle {
//   background-image: radial-gradient(#eeaeca, #94bbe9),
//     url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png');
// }

// .about-circle {
//   position: relative;
//   background-image: radial-gradient(#eeaeca, #94bbe9),
//     url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .about-circle::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   background-image: radial-gradient(#eeaeca, #94bbe9);
//   z-index: -1;
// }



.work-circle {
  background-color: tomato;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5522/5522561.png');
  margin-top: auto;
  top: 7vw;
}

.contact-circle {
  background-color: violet;
  background-image: url('https://static.thenounproject.com/png/4590668-200.png');
}