
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

$work-color: #eeaeca;
$about-color: #b9ffc8;
$contact-color: #fff5d3;
$gradient-blue: #94bbe9;

body {
  background-color: black;
  background-image: url('./images/portfolio-background.jpg');
  overflow-y: scroll;
}

h1 {
  font-family: fantasy;
  font-size: 2.1vw;

  @media (max-width: 768px) {
    font-size: 3.5vw;
  }
}

h2 {
  // font-family: Open Sans;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  margin: 0 0 0.5vw 0;
  font-size: 1.5vw;

  @media (max-width: 768px) {
    font-size: 3vw;
  }
}

h3 {
  // font-family: Georgia, serif;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;

  font-size: 1.3vw;
  line-height: 1.3;

  @media (max-width: 768px) {
    font-size: 2vw;
  }
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.148);
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spin {
  animation: spin 20s linear infinite reverse;
}

.outer-circle {
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  animation: spin 20s linear infinite;

  @media (max-width: 768px) {
    width: 70vw;
    height: 70vw;
  }
}

.link-circle {
  --original-width: 7vw;
  --original-height: 7vw;
  width: var(--original-width);
  height: var(--original-height);
  transition: transform 0.3s ease;
  // width: 7vw;
  // height: 7vw;
  text-align: center;
  box-shadow: inset 3px 2px 15px black;
  position: relative;
  background-size: 5vw;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    --original-width: 10vw;
    --original-height: 10vw;
  }
}

.active {
  transform: scale(1.2);
  box-shadow: inset 0 0 15px black, 0 0 15px white;
  animation: none;
}

.default {
  background: radial-gradient(rgba(255, 255, 255, 0.828),  $gradient-blue);
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20vw;
  height: 20vw;

  @media (max-width: 768px) {
    width: 35vw;
    height: 35vw;
  }
}

.profile-photo {
  height: 99%;
  width: 99%;
  margin: auto;
}

.img-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 8px 8px #bfdaf7, 0 0 8px 8px #bfdaf7;
  z-index: 1;
}

.inner-circle {
  width: 25vw;
  height: 25vw;

  @media (max-width: 768px) {
    width: 40vw;
    height: 40vw;
  }
}

.inner-circle-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s;
  box-shadow: inset -1px 0.3px 12px black;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: relative;

    h1 {
      @media (max-width: 768px) {
        margin: 0.5vw 0;
      }
    }
  }

  a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-radius: 50%;
    transition: width 0.3s ease, left 0.3s ease;
  }

  a:hover::before {
    left: 0;
    width: 100%;
    box-shadow: 0 0 15px 1px white;
  }
}

.about {
  background: radial-gradient($about-color, $gradient-blue);
}

.work {
  background: radial-gradient($work-color, $gradient-blue);
}

.contact {
  background: radial-gradient($contact-color, $gradient-blue);
}

.background-circle {
  background-color: white;
  opacity: 0.5;
}

.about-circle {
  background-color: $about-color;
  background-image: url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png');
}

.work-circle {
  background-color: $work-color;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5522/5522561.png');
  margin-top: auto;
  top: 7vw;
}

.contact-circle {
  background-color: $contact-color;
  background-image: url('https://static.thenounproject.com/png/4590668-200.png');
}



/////////// Page Styling //////////////

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-style: oblique;
    text-shadow: 0 0 1px black;

    position: relative;
  }

  a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 0.1vw;
    background-color: black;
    transition: width 0.3s ease;
  }

  a:hover::before {
    width: 100%;
  }
}

.background-about {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $about-color, #94bce94a);
}

.background-contact {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $contact-color, #94bce94a);
}

.background-work {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $work-color, #94bce94a);
}

.link-holder {
  width: 80%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  background: white url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/1024px-Home-icon.svg.png') no-repeat center;
  background-size: 4vw;
}

.return-home {
  margin-top: 1vw;
}

// Work Icons

.codesmith {
  background: white url('https://yt3.googleusercontent.com/ytc/AOPolaQGlKD0K6ORcowdit1kKEnCGpwhvC0j68z2iCs_NEw=s900-c-k-c0x00ffffff-no-rj') no-repeat center;
  background-size: 5vw;
}

.obsidian {
  background: white url('https://media.licdn.com/dms/image/D560BAQHygAYr9hJP5g/company-logo_200_200/0/1681163859709?e=2147483647&v=beta&t=U6iosed-nyl26D1RHYlaHL8pAp66qtZN-TmfN69dxms') no-repeat center;
  background-size: 6vw;
}

.flying-crow {
  background: black url('https://c4.wallpaperflare.com/wallpaper/213/34/409/crow-bird-black-drawing-hd-wallpaper-preview.jpg') no-repeat center;
  background-size: 10vw;
}

.procrastination {
  background: url('https://culturedecanted.files.wordpress.com/2015/04/white-rabbit-closeup.jpg?w=640') no-repeat center;
  background-size: 7vw;

  @media (max-width: 768px) {
    background-size: 10vw;
  }
}

// About icons

.travel {
  background: white url('https://cdn-icons-png.flaticon.com/512/5219/5219574.png') no-repeat center;
  background-size: 5vw;
}

.nova {
  background: white url('https://media.istockphoto.com/id/1185292071/vector/dachshund-line-with-editable-stroke.jpg?s=612x612&w=0&k=20&c=nj3D0RWgK3VTVqSiQ9ggnI1WrofpYbWw0MIb3NO0HL0=') no-repeat center;
  background-size: 7vw;
}

.books {
  background: white url('https://cdn-icons-png.flaticon.com/512/29/29302.png') no-repeat center;
  background-size: 5vw;
}

.recommendations {
  background: white url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Speech_bubble.svg/637px-Speech_bubble.svg.png') no-repeat center;
  background-size: 5vw;
}

// Contact img/icon

.contact-profile {
  width: 10vw;
  box-shadow: 1px 2px 5px black;
  margin: 2vw;
}

.contact-link-holder {

  h2 {
    display: flex;
    margin-bottom: 1vw;
  }

  img {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
  }
}

.component-holder {
  width: 80%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeIn .5s;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: 60vw;
  }
}

.image-holder {
  width: 35%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    width: 70%;
    height: 35%;
    margin-bottom: 3vw;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
}

.text-holder {
  width: 50%;
  height: 90%;
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 1vw;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 70%;
    height: 35%;
  }

  h1 {
    margin: 1vw 0;
  }

  h3 {
    margin: 0 1vw;
  }

  .click-here {
    margin-top: 1vw;
  }
}



// Carousel

.carousel-holder {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-height: 90%;
  max-width: 50%;

  @media (max-width: 768px) {
    max-height: 45%;
    max-width: 70%;
  }
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel-item {
  min-width: 100%;
  height: 60%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// .carousel-item-text {
//   font-size: 1.15rem;
//   margin: 40px 0 40px 0;
//   padding: 0 20px 0 20px;
//   white-space: normal;
//   color: #617d98;
// }
.carousel-img {
  max-width: 90%;
  height: 15vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;
  border-radius: 10%;

}

/* final stage */

.carousel-buttons {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2vw;
}

.left {
  background: url('https://cdn-icons-png.flaticon.com/512/60/60775.png') no-repeat center;
  background-size: 1vw;
}

.right {
  background: url('https://cdn-icons-png.flaticon.com/512/60/60758.png') no-repeat center;
  background-size: 1vw;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vw;
}

.indicator-buttons {
  width: 1vw;
  height: 1vw;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: none;

  @media (max-width: 768px) {
    width: 1vw;
    height: 1vw;
    padding: 0;
  }
}

.indicators > button {
  margin: 0.5vw;

}

.indicator-symbol {
  background: $about-color;
  box-shadow: inset 0 0 5px 1px black;

  @media (max-width: 768px) {
    box-shadow: inset 0 0 2px black;
  }
}

.indicator-symbol-active {
  background: white;
  box-shadow: inset 0 0 5px 1px black;

  @media (max-width: 768px) {
    box-shadow: inset 0 0 2px black;
  }
}