@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

$work-color: #eeaeca;
$about-color: #b9ffc8;
$contact-color: #fff5d3;
$gradient-blue: #94bbe9;

body {
  background-color: black;
  background-image: url('https://i.ytimg.com/vi/NtOwzU5Rpp8/maxresdefault.jpg');
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.148);
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spin {
  animation: spin 20s linear infinite reverse;
}

.outer-circle {
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  animation: spin 20s linear infinite;
}

.link-circle {
  --original-width: 7vw;
  --original-height: 7vw;
  width: var(--original-width);
  height: var(--original-height);
  transition: transform 0.3s ease;
  // width: 7vw;
  // height: 7vw;
  text-align: center;
  box-shadow: inset 3px 2px 15px black;
  position: relative;
  background-size: 5vw;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  transform: scale(1.2);
  box-shadow: inset 0 0 15px black, 0 0 15px white;
  animation: none;
}

// .active {
//   width: 8vw;
//   height: 8vw;
//   box-shadow: inset 0 0 15px black, 0 0 15px white;
//   background-size: 10vw;
// }

.default {
  background: radial-gradient(rgba(255, 255, 255, 0.828),  $gradient-blue);
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20vw;
  height: 20vw;
}

.profile-photo {
  height: 99%;
  width: 99%;
  margin: auto;
}

.img-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 8px 8px #bfdaf7, 0 0 8px 8px #bfdaf7;
  z-index: 1;
}

.inner-circle {
  width: 25vw;
  height: 25vw;
}

.inner-circle-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s;
  box-shadow: inset -1px 0.3px 12px black;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 90%;
  }
}

.about {
  background: radial-gradient($about-color, $gradient-blue);
}

.work {
  background: radial-gradient($work-color, $gradient-blue);
}

.contact {
  background: radial-gradient($contact-color, $gradient-blue);
}

.background-circle {
  background-color: white;
  opacity: 0.5;
}

.about-circle {
  background-color: $about-color;
  background-image: url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png');
}

.work-circle {
  background-color: $work-color;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5522/5522561.png');
  margin-top: auto;
  top: 7vw;
}

.contact-circle {
  background-color: $contact-color;
  background-image: url('https://static.thenounproject.com/png/4590668-200.png');
}



/////////// Page Styling //////////////

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-about {
  background: radial-gradient(closest-corner, #b9ffc8 70%, #94bbe9, #94bce94a);
}

.background-contact {
  background: radial-gradient(closest-corner, #fff5d3 70%, #94bbe9, #94bce94a);
}

.background-work {
  background: radial-gradient(closest-corner, #eeaeca 70%, #94bbe9, #94bce94a);
}

.link-holder {
  width: 80%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  background: white url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/1024px-Home-icon.svg.png') no-repeat center;
  background-size: 4vw;
}

.codesmith {
  background: white url('https://yt3.googleusercontent.com/ytc/AOPolaQGlKD0K6ORcowdit1kKEnCGpwhvC0j68z2iCs_NEw=s900-c-k-c0x00ffffff-no-rj') no-repeat center;
  background-size: 5vw;
}

.obsidian {
  background: black url('./images/Obsidian.jpeg') no-repeat center;
  background-size: 5vw;
}

.flying-crow {
  background: black url('https://c4.wallpaperflare.com/wallpaper/213/34/409/crow-bird-black-drawing-hd-wallpaper-preview.jpg') no-repeat center;
  background-size: 10vw;
}

.procrastination {
  background: url('https://culturedecanted.files.wordpress.com/2015/04/white-rabbit-closeup.jpg?w=640') no-repeat center;
  background-size: 7vw;
}

.component-holder {
  width: 80%;
  height: 20vw;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-holder {
  width: 35%;
  height: 90%;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-image {
  max-width: 100%;
  max-height: 100%;
}

.text-holder {
  width: 50%;
  height: 90%;
  text-align: center;
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}