
// @keyframes spin {
//   from {
//     transform:rotate(0deg);
//   }
//   to {
//     transform:rotate(360deg);
//   }
// }

// @keyframes ellipse {
//   0% {
//     transform:rotate(0deg);
//     width: var(--original-width, 42vw);
//     height: var(--original-height, 20vw);
//     z-index: -5;
//   }
//   25% {
//     width: var(--original-width, 37vw);
//     height: var(--original-height, 40vw);
//     z-index: -5;
//   }
//   50% {
//     width: var(--original-width, 42vw);
//     height: var(--original-height, 20vw);
//     z-index: 5;
//   }
//   75% {
//     width: var(--original-width, 37vw);
//     height: var(--original-height, 20vw);
//     z-index: 5;
//   }
//   100% {
//     transform:rotate(360deg);
//     width: var(--original-width, 42vw);
//     height: var(--original-height, 20vw);
//   }
// }


@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

$work-color: #eeaeca;
$about-color: #b9ffc8;
$contact-color: #fff5d3;
$gradient-blue: #94bbe9;

body {
  background-color: black;
  background-image: url('./images/portfolio-background.jpg');
  overflow-y: scroll;
  overflow-x: scroll;
}

h1 {
  font-family: fantasy;
  // font-size: 2.1vw;
  // font-size: 40px;
  font-size: 2.2rem;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 3.5vw;
  }
}

h2 {
  // font-family: Open Sans;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  margin: 0 0 0.5vw 0;
  // font-size: 1.5vw;
  // font-size: 25px;
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 3vw;
  }
}

h3 {
  // font-family: Georgia, serif;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;

  // font-size: 1.3vw;
  // font-size: 20px;
  font-size: 1.2rem;

  line-height: 1.3;

  @media (max-width: 768px) {
    font-size: 2vw;
  }
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

// @keyframes slideAlongOval {
//   0% {
//     transform: rotate(0deg) translateX(100%) translateY(0%);
//   }
//   25% {
//     transform: rotate(90deg) translateX(0%) translateY(-100%);
//   }
//   50% {
//     transform: rotate(180deg) translateX(-100%) translateY(0%);
//   }
//   75% {
//     transform: rotate(270deg) translateX(0%) translateY(100%);
//   }
//   100% {
//     transform: rotate(360deg) translateX(100%) translateY(0%);
//   }
// }

@keyframes slideAlongOvalAbout {
  0% {
    transform: translateX(0%) translateY(0%);
    z-index: 0;
  }

  25% {
    transform: translateX(50%) translateY(-50%);
    z-index: -5;
  }

  50% {
    transform: translateX(100%) translateY(0%);
    z-index: 0;
  }

  75% {
    transform: translateX(50%) translateY(50%);
    z-index: 5;
  }

  100% {
    transform: translateX(0%) translateY(0%);
    z-index: 0;
  }
}

@keyframes slideAlongOvalWork {
  0% {
    transform: translateX(0%) translateY(-10%);
    z-index: 5;
  }

  25% {
    transform: translateX(-50%) translateY(-60%);
    z-index: 0;
  }

  50% {
    transform: translateX(0%) translateY(-110%);
    z-index: -5;
  }

  75% {
    transform: translateX(50%) translateY(-60%);
    z-index: 0;
  }

  100% {
    transform: translateX(0%) translateY(-10%);
    z-index: 5;

  }
}

@keyframes slideAlongOvalContact {
  0% {
    transform: translateX(0%) translateY(0%);
    z-index: 5;
  }

  25% {
    transform: translateX(-50%) translateY(50%);
    z-index: 5;
  }

  50% {
    transform: translateX(-100%) translateY(0%);
    z-index: -5;
  }

  75% {
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
  }

  100% {
    transform: translateX(0%) translateY(0%);
    z-index: 0;

  }
}

.spin {
  // animation: spin 20s linear infinite reverse;
  // animation: slideAlongOval 2s linear infinite;
}

.slide-oval {
  position: absolute;
  left: calc(50% - 400px);
  top: 50%;
  // z-index: 5;
  // border: 1px solid red;
  // background-color: #b9b9ff41;
  // width: 800px;
  // height: 300px;
  // cursor: auto;
  width: 0;
  height: 0;
}

.ellipse-animation {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;

  offset-path: path("M0,-0 a400,150 10 1,0 800,0 a400,150 10 1,0 -800,0");

  @media (max-width: 768px) {
    offset-path: path("M250,0 a100,150 20 1,0 250,0 a100,150 20 1,0 -250,0");
    z-index: 100 !important;
  }

}

.about-circle {
  background-color: $about-color;
  background-image: url('https://cdn3.iconfinder.com/data/icons/free-set1/30/Name-Tag-512.png');
  // offset-path: path("M0,-40 a400,150 10 1,0 800,0 a400,150 10 1,0 -800,0");

  animation: moveAlongPathAbout 15s infinite linear;
}

.work-circle {
  background-color: $work-color;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5522/5522561.png');
  
  // offset-path: path("M400,-190 a400,150 10 0,0 0,380 a400,150 10 0,0 0,-380");
  // offset-path: path("M0,-40 a400,150 10 1,0 800,0 a400,150 10 1,0 -800,0");

  animation: moveAlongPathWork 15s infinite linear;
}

.contact-circle {
  background-color: $contact-color;
  background-image: url('https://static.thenounproject.com/png/4590668-200.png');
  
  // offset-path: path("M800,-40 a400,150 10 0,0 -800,0 a400,150 10 0,0 800,0"); /* Change path */
  // offset-path: path("M0,-40 a400,150 10 1,0 800,0 a400,150 10 1,0 -800,0");

  animation: moveAlongPathContact 15s infinite linear;
}

@keyframes moveAlongPathAbout {
  0% {
      offset-distance: 0%;
      z-index: 2;
    }
  60% {
    z-index: 1;
  }
  70% {
    z-index: -5;
  }
  85% {
    z-index: 1;
  }
  100% {
      offset-distance: 100%;
  }
}

@keyframes moveAlongPathWork {
  0% {
      offset-distance: 66%;
      z-index: -1;
  }
  33% {
    offset-distance: 100%;
    z-index: 2;
  }
  33.001% {
    offset-distance: 0%;
  }
  100% {
      offset-distance: 66%;
  }
}

@keyframes moveAlongPathContact {
  0% {
      offset-distance: 33%;
      z-index: 2;
  }
  66% {
    offset-distance: 100%;
    z-index: -3;
  }
  66.001% {
    offset-distance: 0%;
  }
  80% {
    z-index: 2;
  }
  100% {
      offset-distance: 33%;
      z-index: 2;
  }
}

// .slide-oval {
  // width: 40vw;
  // height: 20vw;
  // border: 3px solid yellow;
  // animation: slideAlongOval 2s linear infinite;
// }

// .outer-circle {
//   --original-width: 50vw;
//   --original-height: 30vw;
//   width: var(--original-width);
//   height: var(--original-height);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   // animation: ellipse 20s linear infinite;
//   // border: 2px solid red;

//   @media (max-width: 768px) {
//     width: 70vw;
//     height: 70vw;
//   }
// }

// .about-placement {
//   justify-content: start;
//   align-items: center;
//   z-index: 5;

//   animation: slideAlongOvalAbout 15s linear infinite;
// }

// .work-placement {
//   justify-content: center;
//   align-items: end;

//   animation: slideAlongOvalWork 15s linear infinite;
// }

// .contact-placement {
//   justify-content: end;
//   align-items: center;
//   animation: slideAlongOvalContact 15s linear infinite;
// }

.link-circle {
  --original-width: 100px;
  --original-height: 100px;
  width: var(--original-width);
  height: var(--original-height);
  transition: transform 0.3s ease;
  // width: 7vw;
  // height: 7vw;
  text-align: center;
  box-shadow: inset 3px 2px 15px black;
  position: relative;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    --original-width: 50px;
    --original-height: 50px;
    background-size: 40px
  }
}

.active {
  transform: scale(1.2);
  box-shadow: inset 0 0 15px black, 0 0 15px white;
  // animation: none;
  // left: 55%;
  // top: -20vw;
  // rotate: -49deg;
}

.default {
  background: radial-gradient(rgba(255, 255, 255, 0.828),  $gradient-blue);
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 300px;

  @media (max-width: 768px) {
    width: 190px;
    height: 190px;
  }
}

.profile-photo {
  height: 99%;
  width: 99%;
  margin: auto;
}

.img-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 8px 8px #bfdaf7, 0 0 8px 8px #bfdaf7;
  z-index: 1;
}

.inner-circle {
  width: 350px;
  height: 350px;

  // h1 {
  //   font-size: 40px;
  //   margin-bottom: 0;
  // }

  // h3 {
  //   font-size: 20px;
  // }

  @media (max-width: 768px) {
    // width: 40vw;
    // height: 40vw;
    width: 200px;
    height: 200px;
  }
}

.inner-circle-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s;
  box-shadow: inset -1px 0.3px 12px black;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: relative;

    h1 {
      @media (max-width: 768px) {
        margin: 0.5vw 0;
      }
    }
  }

  a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-radius: 50%;
    transition: width 0.3s ease, left 0.3s ease;
  }

  a:hover::before {
    left: 0;
    width: 100%;
    box-shadow: 0 0 15px 1px white;
  }
}

.about {
  background: radial-gradient($about-color, $gradient-blue);
}

.work {
  background: radial-gradient($work-color, $gradient-blue);
}

.contact {
  background: radial-gradient($contact-color, $gradient-blue);
}

.background-circle {
  background-color: white;
  opacity: 0.5;
}



/////////// Page Styling //////////////

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-style: oblique;
    text-shadow: 0 0 1px black;

    position: relative;
  }

  a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 0.1vw;
    background-color: black;
    transition: width 0.3s ease;
  }

  a:hover::before {
    width: 100%;
  }
}

.background-about {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $about-color, #94bce94a);
}

.background-contact {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $contact-color, #94bce94a);
}

.background-work {
  background: radial-gradient(closest-corner, $gradient-blue 70%, $work-color, #94bce94a);
}

.link-holder {
  width: 80%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  background: white url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/1024px-Home-icon.svg.png') no-repeat center;
  background-size: 50px;

  @media (max-width: 768px) {
    background-size: 30px;
  }
}

.return-home {
  margin-top: 1vw;
}

// Work Icons

.codesmith {
  background: white url('https://yt3.googleusercontent.com/ytc/AOPolaQGlKD0K6ORcowdit1kKEnCGpwhvC0j68z2iCs_NEw=s900-c-k-c0x00ffffff-no-rj') no-repeat center;
  background-size: 70px;

  @media (max-width: 768px) {
    background-size: 40px;
  }
}

.obsidian {
  background: white url('https://media.licdn.com/dms/image/D560BAQHygAYr9hJP5g/company-logo_200_200/0/1681163859709?e=2147483647&v=beta&t=U6iosed-nyl26D1RHYlaHL8pAp66qtZN-TmfN69dxms') no-repeat center;
  background-size: 80px;

  @media (max-width: 768px) {
    background-size: 40px;
  }
}

.flying-crow {
  background: black url('https://c4.wallpaperflare.com/wallpaper/213/34/409/crow-bird-black-drawing-hd-wallpaper-preview.jpg') no-repeat center;
  background-size: 150px;

  @media (max-width: 768px) {
    background-size: 80px;
  }
}

.procrastination {
  background: url('https://culturedecanted.files.wordpress.com/2015/04/white-rabbit-closeup.jpg?w=640') no-repeat center;
  background-size: 100px;

  @media (max-width: 768px) {
    background-size: 60px;
  }
}

// About icons

.travel {
  background: white url('https://cdn-icons-png.flaticon.com/512/5219/5219574.png') no-repeat center;
  background-size: 70px;

  @media (max-width: 768px) {
    background-size: 40px;
  }
}

.nova {
  background: white url('https://media.istockphoto.com/id/1185292071/vector/dachshund-line-with-editable-stroke.jpg?s=612x612&w=0&k=20&c=nj3D0RWgK3VTVqSiQ9ggnI1WrofpYbWw0MIb3NO0HL0=') no-repeat center;
  background-size: 90px;

  @media (max-width: 768px) {
    background-size: 50px;
  }
}

.books {
  background: white url('https://cdn-icons-png.flaticon.com/512/29/29302.png') no-repeat center;
  background-size: 70px;

  @media (max-width: 768px) {
    background-size: 30px;
  }
}

.recommendations {
  background: white url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Speech_bubble.svg/637px-Speech_bubble.svg.png') no-repeat center;
  background-size: 70px;

  @media (max-width: 768px) {
    background-size: 40px;
  }
}

// Contact img/icon

.contact-profile {
  width: 10vw;
  box-shadow: 1px 2px 5px black;
  margin: 2vw;
}

.contact-link-holder {

  h2 {
    display: flex;
    margin-bottom: 1vw;
  }

  img {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
  }
}

.component-holder {
  width: 80%;
  // height: 20vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeIn .5s;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: 60vw;
  }
}

.image-holder {
  width: 35%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    width: 70%;
    height: 35%;
    margin-bottom: 3vw;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
}

.text-holder {
  width: 50%;
  height: 90%;
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 1vw;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 70%;
    height: 35%;
  }

  h1 {
    margin: 1vw 0;
  }

  h3 {
    margin: 0 1vw;
  }

  .click-here {
    margin-top: 1vw;
  }
}

.solo-text {
  width: 75%;
}



// Carousel

.carousel-holder {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-height: 90%;
  max-width: 50%;

  @media (max-width: 768px) {
    max-height: 45%;
    max-width: 70%;
  }
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel-item {
  min-width: 100%;
  height: 60%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// .carousel-item-text {
//   font-size: 1.15rem;
//   margin: 40px 0 40px 0;
//   padding: 0 20px 0 20px;
//   white-space: normal;
//   color: #617d98;
// }
.carousel-img {
  max-width: 90%;
  height: 15vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;
  border-radius: 10%;

}

/* final stage */

.carousel-buttons {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2vw;
}

.left {
  background: url('https://cdn-icons-png.flaticon.com/512/60/60775.png') no-repeat center;
  background-size: 1vw;
}

.right {
  background: url('https://cdn-icons-png.flaticon.com/512/60/60758.png') no-repeat center;
  background-size: 1vw;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vw;
}

.indicator-buttons {
  width: 1vw;
  height: 1vw;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: none;

  @media (max-width: 768px) {
    width: 1vw;
    height: 1vw;
    padding: 0;
  }
}

.indicators > button {
  margin: 0.5vw;

}

.indicator-symbol {
  background: $about-color;
  box-shadow: inset 0 0 5px 1px black;

  @media (max-width: 768px) {
    box-shadow: inset 0 0 2px black;
  }
}

.indicator-symbol-active {
  background: white;
  box-shadow: inset 0 0 5px 1px black;

  @media (max-width: 768px) {
    box-shadow: inset 0 0 2px black;
  }
}