.background-about {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: radial-gradient(closest-corner, #b9ffc8 70%, #94bbe9, #94bce94a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}